.khachhang-carousel .row .title, .khachhang-carousel .row .meta {
    display: block;
    width: 100%;
    text-align: center;
}

.myauris-left {
    text-align: left;
}

.myauris-right {
    text-align: right;
}

.khachhang-carousel {
    color: #808080;
}

.khachhang-carousel .before-title {
    display: inline-block;
    padding: 5px 10px;
    background-color: #808080;
    color: white;
    width: 70px;
}

.khachhang-carousel .after-title {
    display: inline-block;
    padding: 5px 10px;
    background-color: #782484;
    color: white;
    width: 70px;
}

.khachhang-carousel hr {
    height: 2px;
    background-color: #782484
}

.khachhang-carousel span {
    color: #782484
}

.khachhang-carousel ul {
    padding-left: 0;
    padding-right: 0;
}

.khachhang-carousel li {
    list-style: none;
    position: relative;
}

.khachhang-carousel .detail.after span.empty::before, .khachhang-carousel .detail.before span.empty::after {
    content: '·';
    font-size: 50px;
    line-height: 0;
    vertical-align: middle;
    color: transparent;
}

.khachhang-carousel .detail.after span::before {
    content: '·';
    font-size: 50px;
    position: absolute;
    top: 50%;
    right: 100%;
    line-height: 0;
    transform: translateY(-53%);
}


.khachhang-carousel .detail.before span::after {
    content: '·';
    font-size: 50px;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-53%);
}

.khachhang-carousel .detail.before {
    padding-right: 10px;
}

.khachhang-carousel .detail.after {
    padding-left: 10px;
}

.khachhang-carousel .footer .text {
    display: block;
    white-space: nowrap;
}

.khachhang-carousel .image-class {
    display: inline-block;
}

.khachhang-slider button {
    z-index: 99999;
}


@media only screen and (max-width: 769px) {
    .khachhang-slider .slick-arrow {
        display: none !important;
    }
}


@media only screen and (max-width: 426px) {
    .khachhang-carousel .image-before-after img {
        display: inline-block;
    }

    .khachhang-carousel .image-before-after {
        text-align: center;
        margin: 10px 0;
    }

    .khachhang-carousel .col-md-4.col-6.myauris-right, .khachhang-carousel .col-md-6.col-6.myauris-before.myauris-right {
        padding-right: 5px;
    }

    .khachhang-carousel .col-md-6.col-6.myauris-after, .khachhang-carousel .col-md-4.col-6.image-before-after.myauris-left {
        padding-left: 5px;
    }

}



