.slider {
    margin: 0 auto;
}

img {

}

.myauris-category {

}

/*.myauris-category .slider {
    max-width: 100vw;
    width: 100%;
}

.myauris-category .slick-initialized {
    overflow: hidden;
}*/


.myauris-category .category-image img {
    border-radius: 20px 20px 0 0;
    min-height: 307px;
}

.myauris-category .viewmore {
    position: absolute;
    top: 20px;
    padding-left: 10px;
}

.slick-arrow {
    border: none;
    color: transparent;
}

.myauris-category .category-item {
    padding: 10px;
}

.myauris-category .category-title {
    color: white;
    background-color: #ef5089;
    text-align: center;
    border-radius: 0 0 30px 30px;
    font-weight: 500;
    font-size: 1em;
    padding: 10px;
}

.slick-arrow:hover, .slick-arrow:focus {
    background-color: transparent;
    border: none;
    color: transparent;
    outline: none;
}


.myauris-category .slick-prev {
    left: -130px;
}

.myauris-category .slick-next {
    right: -100px;

}

@media only screen and (max-width: 769px) {
    .myauris-category .slick-arrow {
        display: none !important;
    }
}

@media only screen and (max-width: 426px) {
    .myauris-category .category-image img {
        min-height: 230px;
    }
}
