.lightboxcontainer {
    width: 100%;
    text-align: left;
}

.lightboxleft {
    width: 40%;
    float: left;
}

.lightboxright {
    width: 60%;
    float: left;
}

.lightboxright iframe {
    min-height: 390px;
}

.divtext {
    margin: 36px;
}

.news-recent .section-content .list-news-recent .news-recent-item .content .meta {
    font-size: 12px;
}

.list-unstyled {
    margin: 0;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.list-inline-item {
    display: inline-block;
}

@media (max-width: 800px) {
    .lightboxleft {
        width: 100%;
    }

    .lightboxright {
        width: 100%;
    }

    .divtext {
        margin: 12px;
    }
}

.video-myauris {
    height: 305px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.video-item {
    display: flex;
    margin-top: 10px;
}

.meta.list-inline.list-unstyled i {
    color: #ef5089;
    padding-right: 5px;
}

.video-myauris .title-item h5 {
    margin-top: 0;
}

.video-myauris .head-item {
    text-align: center;
    width: 40%;
    padding-right: 10px;
}

.video-myauris .body-item .title-item {

}

.video-myauris .body-item .title-item h6 {
    color: #782484;
    margin-bottom:5px;
}

.video-myauris .meta-item li span {
    font-size: 0.7rem;
}


/*
 *  STYLE 1
 */

.video-myauris::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.video-myauris::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.video-myauris::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, 0);
}


